/* ------ Acerca de ------ */
.main .acerca-de {
    text-align: center;
    .texto {
        margin: 40px auto 60px auto;
        width: 80%;
        font-size: 1em;
        line-height: 30px;
        .titulo {
            font-weight: 300;
            font-size: 2.125em;
            color: #e76f51;
            margin-bottom: 40px;
        }
        p {
            font-weight: 600;
        }
    }
}

/* ------ Trabajos ------ */
.main .trabajos {
    background-color: #f2f2f2;
    padding: 30px 0;
    .contenedor {
        overflow: hidden;
    }
    .titulo {
        font-weight: 300;
        font-size: 2.125em;
        color: #353B3C;
        text-align: center;
        margin-bottom: 40px;
    }
    .contenedor__trabajos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .trabajo {
            width: 23%;
            margin-bottom: 40px;
            .thumb {
                width: 100%;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    vertical-align: top;
                    border-radius: 3px;
                }
            }
            .descripcion {
                text-align: center;
                .nombre {
                    font-weight: 700;
                    color: #e63946;
                    margin-bottom: 5px;
                }
                .categoria {
                    font-size: 0.9em;
                    color: #636363;
                }
            }
        }
    }
}

/* ------ Tecnologías ------ */
.main .tecnologias {
    width: 100%;
    padding: 30px 0;
    .contenedor {
        overflow: hidden;
    }
    .titulo {
        font-weight: 300;
        font-size: 2.125em;
        color: #353B3C;
        text-align: center;
        margin-bottom: 40px;
    }
    .contenedor__tecnologias {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .tecnologia {
            width: 25%;
            margin-bottom: 40px;
            .thumb {
                width: 100%;
                vertical-align: top;
                border-radius: 3px;
                margin-bottom: 10px;
                text-align: center;
                img {
                    width: 100px;
                    height: 100px;
                    vertical-align: top;
                    border-radius: 3px;
                }
            }
            .nombre {
                text-align: center;
                font-weight: 700;
                color: #e63946;
                margin-bottom: 5px;
            }
        }
    }
}

/* ------ Contacto ------ */
.main .contacto {
    background-color: #f2f2f2;
    padding: 30px 0;
    .titulo {
        font-weight: 300;
        font-size: 2.125em;
        color: #e63946;
        text-align: center;
        margin-bottom: 40px;
    }
    .formulario {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        input[type="text"], input[type="email"], textarea {
            border: 2px solid rgb(118, 118, 118);
            border-radius: 5px;
            padding: 15px 20px;
            background-color: white;
            font-size: 1.25em;
            outline: none;
            line-height: 0;
            &:focus {
                border: 2px solid #e63946;
                outline: none;
            }
        }
        input[type="text"], input[type="email"] {
            width: 49%;
            margin-bottom: 20px;
        }
        textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            height: 100px;
            min-height: 100px;
            max-height: 350px;
            margin-bottom: 20px;
        }
        input[type="submit"] {
            margin: auto;
            margin-bottom: 20px;
            width: 30%;
            background-color: #e63946;
            color: white;
            border-radius: 5px;
            border: 2px solid white;
            padding: 15px 0;
            cursor: pointer;
            font-size: 1.25em;
            &:hover {
                background-color: #cf3642;
            }
        }
    }
    
}