<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio de Efrain Garcia</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png')}}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
<body>
    
    <header>
        <div class="contenedor">

            <nav class="menu">
                <a href="#acerca-de">Acerca de</a>
                <a href="#trabajos">Trabajos</a>
                <a href="#tecnologias">Tecnologías</a>
                <a href="#contacto">Contacto</a>
            </nav>

            <div class="banner">

                <div class="foto">
                    <img src="{{ url_for('static', filename='img/foto.jpeg')}}" width="115" height="115" alt="Efrain Garcia">
                </div>

                <div class="contenedor__texto">
                    <div class="texto">
                        <h1 class="nombre">Efrain Garcia</h1>
                        <h2 class="profesion">Desarrollador Jr Frontend</h2>
                    </div>
                </div>

            </div>
            
        </div>
    </header>

    <section class="main">
        <section class="acerca-de" id="acerca-de">
            <div class="contenedor">
                <div class="texto">
                    <h2 class="titulo">Acerca de</h2>
                    <p>
                        Estudiante de Ing. en Tecnologías de la información, con un gran interés en el Desarrollo Web. 
                        Con capacidad para aprender y aplicar mis conocimientos al ámbito profesional. En busca de 
                        una oportunidad laboral en la que desarrollar mis habilidades y adquirir experiencia.
                    </p>
                </div>
            </div>
        </section>

        <section class="trabajos" id="trabajos">
            <div class="contenedor">
                <h2 class="titulo">Trabajos</h2>
                <div class="contenedor__trabajos">

                    <div class="trabajo">
                        <div class="thumb" data-target="modal1">
                            <img src="{{ url_for('static', filename='img/trabajos/1.jpg')}}" alt="Sistema de bitácoras" >
                        </div>
                        <div class="descripcion">
                            <p class="nombre" data-target="modal1">Sistema de bitácoras</p>
                            <p class="categoria">HTML5, CSS3, Bootstrap, JavaScript, Flask, MySQL</p>
                        </div>
                        <!-- Modal trabajo1-->
                        <div id="modal1" class="modal hide animated fadeIn fast" >
                            <div class="modal-content">
                                <span data-target="modal1" class="close">&times;</span>
                                <video src="{{ url_for('static', filename='img/trabajos/1.mp4')}}" controls muted preload="none"></video>
                            </div>
                        </div>
                    </div>

                    <div class="trabajo">
                        <div class="thumb" data-target="modal2">
                            <img src="{{ url_for('static', filename='img/trabajos/2.jpg')}}" alt="Sistema de Evaluación y Registro Web">
                        </div>
                        <div class="descripcion">
                            <p class="nombre" data-target="modal2">Sistema de Evaluación y Registro Web</p>
                            <p class="categoria">Angular, Bootstrap, Django Rest Framework, MySQL</p>
                        </div>
                        <!-- Modal trabajo2-->
                        <div id="modal2" class="modal hide animated fadeIn fast" >
                            <div class="modal-content">
                                <span class="close" data-target="modal2">&times;</span>
                                <video src="{{ url_for('static', filename='img/trabajos/2.mp4')}}" controls muted preload="none"></video>
                            </div>
                        </div>
                    </div>

                    <div class="trabajo">
                        <div class="thumb">
                            <a href="https://jesusefraingarciarodriguez.github.io/Restaurante/">
                                <img src="{{ url_for('static', filename='img/trabajos/4.jpg')}}" alt="Restaurante">
                            </a>
                        </div>
                        <div class="descripcion">
                            <a href="https://jesusefraingarciarodriguez.github.io/Restaurante/">
                                <p class="nombre">Restaurante</p>
                            </a>
                            <p class="categoria">HTML5, Sass, jQuery</p>
                        </div>
                    </div>

                    <div class="trabajo">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/trabajos/3.jpg')}}" alt="Sistema de Evaluación y Registro Escritorio">
                        </div>
                        <div class="descripcion">
                            <p class="nombre">Sistema de Evaluación y Registro Escritorio</p>
                            <p class="categoria">Java/NetBeans, MySQL</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="tecnologias" id="tecnologias">
            <div class="contenedor">
                <h2 class="titulo">Tecnologías</h2>

                <div class="contenedor__tecnologias">
                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/python.svg')}}" alt="python">
                        </div>
                        <div class="nombre">
                            <p>Python</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/java.svg')}}" alt="java">
                        </div>
                        <div class="nombre">
                            <p>Java</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/html.svg')}}" alt="html">
                        </div>
                        <div class="nombre">
                            <p>HTML</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/css.svg')}}" alt="css">
                        </div>
                        <div class="nombre">
                            <p>CSS</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/sass.svg')}}" alt="sass">
                        </div>
                        <div class="nombre">
                            <p>Sass</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/javascript.svg')}}" alt="javascript">
                        </div>
                        <div class="nombre">
                            <p>JavaScript</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/mysql.svg')}}" alt="mysql">
                        </div>
                        <div class="nombre">
                            <p>MySQL</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/django.svg')}}" alt="django">
                        </div>
                        <div class="nombre">
                            <p>Django / Django Rest Framework</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/bootstrap.svg')}}" alt="bootstrap">
                        </div>
                        <div class="nombre">
                            <p>Bootstrap</p>
                        </div>
                    </div>

                    <div class="tecnologia">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/tecnologias/git.svg')}}" alt="git">
                        </div>
                        <div class="nombre">
                            <p>Git / GitHub</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section class="contacto" id="contacto">
            <div class="contenedor">
                <h2 class="titulo">Contacto</h2>
                <form class="formulario" method="POST" action="{{url_for('enviar_correo')}}">
                    <input id="nombre" type="text" placeholder="Nombre" name="nombre" required>
                    <input id="correo" type="email" placeholder="Correo" name="correo" required>
                    <input id="asunto" type="text" placeholder="Asunto" name="asunto" required>
                    <textarea placeholder="Mensaje:" name="mensaje" required></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </section>
    </section>

    <footer>
        <div class="contenedor">
            <div class="contenedor__redes">

                <div class="red">
                    <a href="https://github.com/JesusEfrainGarciaRodriguez" class="github"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>

                <div class="red">
                    <a href="https://www.facebook.com/efrain.garcia.1422409/" class="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </footer>

    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>